<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkFormGroup" (ngSubmit)="onSubmit()">
        <!-- Customer form group -->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>

          <div class="row">
            <div class="col-md-2"><label>First Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstname" type="text" />

                <div
                  *ngIf="
                    firstname.invalid && (firstname.dirty || firstname.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      firstname.errors['required'] ||
                      firstname.errors['notOnlyWhitespace']
                    "
                  >
                    First Name is required
                  </div>

                  <div *ngIf="firstname.errors['minlength']">
                    First Name must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Last Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastname" type="text" />

                <div
                  *ngIf="
                    lastname.invalid && (lastname.dirty || lastname.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      lastname.errors['required'] ||
                      lastname.errors['notOnlyWhitespace']
                    "
                  >
                    Last Name is required
                  </div>

                  <div *ngIf="lastname.errors['minlength']">
                    Last Name must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text" />

                <div
                  *ngIf="email.invalid && (email.dirty || email.touched)"
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="email.errors['required']">Email is required</div>

                  <div *ngIf="email.errors['pattern']">
                    Email must be a valid email address format
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Shipping Address form group -->
        <div formGroupName="ShippingAddress" class="form-area">
          <h3>Shipping Address</h3>

          <div class="row">
            <div class="col-md-2"><label>Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="country"
                  (change)="getStates('ShippingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>

                <div
                  *ngIf="
                    ShippingAddressCountry.invalid &&
                    (ShippingAddressCountry.dirty ||
                      ShippingAddressCountry.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="ShippingAddressCountry.errors['required']">
                    Country is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />

                <div
                  *ngIf="
                    ShippingAddressStreet.invalid &&
                    (ShippingAddressStreet.dirty ||
                      ShippingAddressStreet.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      ShippingAddressStreet.errors['required'] ||
                      ShippingAddressStreet.errors['notOnlyWhitespace']
                    "
                  >
                    Street is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />

                <div
                  *ngIf="
                    ShippingAddressCity.invalid &&
                    (ShippingAddressCity.dirty || ShippingAddressCity.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      ShippingAddressCity.errors['required'] ||
                      ShippingAddressStreet.errors['notOnlyWhitespace']
                    "
                  >
                    City is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option
                    *ngFor="let State of ShippingAddressStates"
                    [ngValue]="State"
                  >
                    {{ State.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    ShippingAddressState.invalid &&
                    (ShippingAddressState.dirty || ShippingAddressState.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="ShippingAddressState.errors['required']">
                    State is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />

                <div
                  *ngIf="
                    ShippingAddressZipCode.invalid &&
                    (ShippingAddressZipCode.dirty ||
                      ShippingAddressZipCode.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      ShippingAddressZipCode.errors['required'] ||
                      ShippingAddressZipCode.errors['notOnlyWhitespace']
                    "
                  >
                    ZipCode is required
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Add check box to copy shipping address to billing address if they are the same -->
        <div class="input-space">
          <label class="au-checkbox">
            <input
              type="checkbox"
              (change)="copyShippingAddressToBillingAddress($event)"
            />
            <span class="au-checkmark"></span>Billing Address same as Shipping
            Address
          </label>
        </div>

        <!-- billing address -->
        <div formGroupName="BillingAddress" class="form-area">
          <h3>Billing Address</h3>

          <div class="row">
            <div class="col-md-2"><label>Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="country"
                  (change)="getStates('BillingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>

                <div
                  *ngIf="
                    BillingAddressCountry.invalid &&
                    (BillingAddressCountry.dirty ||
                      BillingAddressCountry.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      BillingAddressCountry.errors['required'] ||
                      BillingAddressCountry.errors['notOnlyWhitespace']
                    "
                  >
                    Country is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />
                <div
                  *ngIf="
                    BillingAddressStreet.invalid &&
                    (BillingAddressStreet.dirty || BillingAddressStreet.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      BillingAddressStreet.errors['required'] ||
                      BillingAddressStreet.errors['notOnlyWhitespace']
                    "
                  >
                    Street is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />
                <div
                  *ngIf="
                    BillingAddressCity.invalid &&
                    (BillingAddressCity.dirty || BillingAddressCity.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      BillingAddressCity.errors['required'] ||
                      BillingAddressCity.errors['notOnlyWhitespace']
                    "
                  >
                    City is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option
                    *ngFor="let State of BillingAddressStates"
                    [ngValue]="State"
                  >
                    {{ State.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    BillingAddressState.invalid &&
                    (BillingAddressState.dirty || BillingAddressState.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      BillingAddressState.errors['required'] ||
                      BillingAddressState.errors['notOnlyWhitespace']
                    "
                  >
                    State is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />
                <div
                  *ngIf="
                    BillingAddressZipCode.invalid &&
                    (BillingAddressZipCode.dirty ||
                      BillingAddressZipCode.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      BillingAddressZipCode.errors['required'] ||
                      BillingAddressZipCode.errors['notOnlyWhitespace']
                    "
                  >
                    Country is required
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Credit Card -->

        <div formGroupName="creditCard" class="form-area">
          <h3>creditCard</h3>

          <div class="row">
            <div class="col-md-2"><label>Card Type</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="Card Type">
                  <option>Visa</option>
                  <option>MasterCard</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Name on Card</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text" />
                <div
                  *ngIf="
                    creditCardNameOnCard.invalid &&
                    (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      creditCardNameOnCard.errors['required'] ||
                      creditCardNameOnCard.errors['notOnlyWhitespace']
                    "
                  >
                    Name on card is required
                  </div>
                  <div *ngIf="creditCardNumber.errors['minlength']">
                    Name but be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Card Number</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text" />
                <div
                  *ngIf="
                    creditCardNumber.invalid &&
                    (creditCardNumber.dirty || creditCardNumber.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      creditCardNumber.errors['required'] ||
                      creditCardNumber.errors['notOnlyWhitespace']
                    "
                  >
                    Card Number is required
                  </div>

                  <div *ngIf="creditCardNumber.errors['minlength']">
                    Card Number must be 16 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Security Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" type="text" />

                <div
                  *ngIf="
                    creditCardSecurityCode.invalid &&
                    (creditCardSecurityCode.dirty ||
                      creditCardSecurityCode.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="creditCardSecurityCode.errors['required']">
                    Security Code Required
                  </div>

                  <div *ngIf="creditCardNumber.errors['minlength']">
                    Security Code must be 3 digit long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Expiration Month</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  <option *ngFor="let month of creditCardMonths">
                    {{ month }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Expiration Year</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="expirationYear"
                  (change)="handleMonthsAndYears()"
                >
                  <option *ngFor="let year of creditCardYears">
                    {{ year }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- order review details -->
        <div class="form-area">
          <h3>Review your order</h3>
          <p>Total Quantity: {{ totalQuantity }}</p>
          <p>Shipping: Free</p>
          <p>Total Price: {{ totalPrice | currency : "USD" }}</p>
        </div>

        <!-- Submit button -->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
